/* Reset some default styles */
body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Navbar styles */
.navbar {
    background-color: #116466;
    color: #fff;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}


.navbar.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    z-index: 1000;
  }

/* Hamburger menu styles */
.menu-toggle {
    cursor: pointer;
    display: none;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.4s;
}

.menu-toggle.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 50px;
        right: 0;
        left: 0;
        padding: 20px;
    }

    .menu.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}


#resume-button-1 {
    background-color: #b1c0cf; /* Change the background color to your desired color */
    color:black; /* Text color */
    border: none;
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
  }
  
  #resume-button-1:hover {
    background-color: #0056b3; /* Change the background color on hover */
  }
  
  /* Center the button text vertically and horizontally */
  #resume-button-1 a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: inherit;
  }
  
  /* Adjust button width if needed */
  #resume-button-1 a {
    width: 100%; /* Make the button full width of its container */
  }
  